<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-left">

      <h1 class="text-center">
        <span class="text-nowrap">
          welcome to
          <span class="d-inline-flex align-items-center ms-1 gap-1">
            <i class="fa-solid fa-book"></i>
            <strong>Bookers !!</strong>
          </span>
        </span>
      </h1>
      <p>
        In 
        <i class="fa-solid fa-book"></i>
        <strong>Bookers</strong>,
      </p>

      <p class="text-nowrap">
        you can share and exchange your opinions, impressions, and emotions
      </p>

<p>about various books!</p>


      <div class="row justify-content-center mt-4">
        <div class="col-10 col-sm-8 col-md-8 col-lg-7">
          <div class="d-grid gap-3">
            <%= link_to "Log in",
                new_user_session_path,
                class: "btn btn-info text-white" %>
            <%= link_to "Sign up",
                new_user_registration_path,
                class: "btn btn-success" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
